$bgColor : #c5c21a;
body{
  background-color: $bgColor;
}
.container{
  position: relative;
  height: 1100px;
  width: 1900px;
  background-color: $bgColor;
  margin: 100px auto;
  position: relative;
  border: 2px solid black;
  box-shadow: 10px 10px 20px black;
  .btns{
    #play{
      position: relative;
      height: 100px;
      top: 50px;
      left: 50px;
      &:hover{
        cursor: pointer;
      }
    }
    #replay{
      position: relative;
      height: 100px;
      top: 50px;
      left: 1650px;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .header{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 60px;
    .score{
      font-size: 90px;
      margin-left: 20px;
      border: 5px solid black;
      padding: 0px 30px;
    }
  }
  .playGround{
    position: absolute;
    top: 250px;
    left: 210px;
    width: 75%;
    padding: 0px;
    .combo{
      display: inline-block;
      height: 350px;
      width: 374px;
      margin: 25px 0px 25px 80px;
      position: relative;
      .cartoon img{
        width: 250px;
        height: 0px;
        position: absolute;
        bottom: 70px;
        opacity: 0;
        transition: 300ms ease-in-out;
      }
      .cartoon_full img{
        width: 250px;
        height: 250px;
        position: absolute;
        bottom: 70px;
        opacity: 1;
        transition: 300ms ease-in-out;
      }
      .sand img{
        position: absolute;
        top: 200px;
      }
    }
    &:hover{
        cursor: url(/img/gun.png), auto;
    }
  }
}
