$bgColor : #c5c21a;
body{
  background-color: $bgColor;
}
.container{
  position: relative;
  height: 1100px;
  width: 1900px;
  background-color: $bgColor;
  margin: 100px auto;
  position: relative;
  border: 2px solid black;
  box-shadow: 10px 10px 20px black;
  .btns{
    #play{
      position: absolute;
      height: 100px;
      top: 50px;
      left: 50px;
      &:hover{
        cursor: pointer;
      }
    }
    #replay{
      position: absolute;
      height: 100px;
      top: 50px;
      right: 50px;;
      &:hover{
        cursor: pointer;
      }
    }
    .setting{
      position: absolute;
      top: 170px;
      left: 40px;
      width: 128px;
      transition: width 1s ease-in-out;
      overflow: hidden;
      img{
        transform: rotate(0deg);
        transition: transform 1s ease-in-out;
      }
      .levels, .time{
        position: absolute;
        top: 30%;
        height: 50px;
        width: 140px;
        background-color: black;
        color: white;
      }
      .time{
        left: 270px;
      }
      &:hover{
        width: 450px;
        cursor: pointer;
        img{
          transform: rotate(60deg);
        }
      }
    }
  }
  .header{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%,0%);
    font-size: 60px;
    .score, .highScore{
      font-size: 90px;
      margin-left: 20px;
      border: 5px solid black;
      padding: 0px 30px;
    }
    .highScore{
      font-size: 100px;
      border: none;
    }
  }
  .playGround{
    position: absolute;
    top: 250px;
    left: 210px;
    width: 75%;
    padding: 0px;
    .combo{
      display: inline-block;
      height: 350px;
      width: 374px;
      margin: 25px 0px 25px 80px;
      position: relative;
      .cartoon img{
        width: 250px;
        height: 0px;
        position: absolute;
        bottom: 70px;
        opacity: 0;
        transition: 250ms ease-in-out;
      }
      .cartoon_full img{
        width: 250px;
        height: 250px;
        position: absolute;
        bottom: 70px;
        opacity: 1;
        transition: 250ms ease-in-out;
      }
      .sand img{
        position: absolute;
        top: 200px;
      }
    }
    &:hover{
        cursor: url(../img/gun.png), auto;
    }
  }
}
